# git
.git
.gitignore

# docker
.docker

# python
app/project/__pycache__/
app/project/*/__pycache__/
app/project/*/*/__pycache__/
app/project/*/*/*/__pycache__/
app/project/*/*/*/*/__pycache__/
app/project/*/*/*/*/*/__pycache__/
.env/
.venv/
.mlops/
mlops/